body, html, #root {
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.form-container{
  height: 100%;
  display: flex; 
  justify-content: center;
}

.container { 
  height: 100%;
}

/* Header Page */
h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 100px;
}

.header {
  background-image: linear-gradient(lightblue, blue);
}

/* single butterfly list item */
.single-butterfly-listitem {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid lightblue 3px;
  border-width: 7px;
  margin: 10px;
  font-family: sans-serif;
}

h2 { 
  color: lightblue;
  text-decoration: none;
}

p { 
  font-family: sans-serif;
}

a:link {
  text-decoration: none;
  color: lightblue;
}

a:visited {
  text-decoration: none;
  color: orange;
}

/* Admin Page */
label {
  color: darkcyan;
}

button {
  background-color: lightblue;
  border: darkcyan;
}
